<div class="container row justify-content-center mx-auto">
    <div *ngFor="let user of userList" class="row m-2 userlistHolder">
        <div class="col">
            <p> {{ user.name }} / {{ user.age }} ans</p>
        </div>

            <!-- ////////////////  -->
                
        <div class="col">
            <div class="row">
                <p class="col">{{ user.family }}</p>
                <p class="col">{{ user.race }}</p>
                <p class="col">{{ user.feeding }}</p>
            </div>
        </div>

            <!-- ////////////////  -->

        <div class="col">
            <button class="btn btn-context">
                Ajouter
            </button>
        </div>
    </div>
</div>