<div class="container row justify-content-center mx-auto">
    <form #addFriendForm=ngForm  *ngFor="let user of userList" (ngSubmit)="addFriend(user._id)" class="col-xl-2 col-sm-4 m-4 userlistHolder">
        <div class="userHolder m-4">
            <div class="userInfos">
                <p class="userTitle"> {{ user.name }} - {{ user.age }} </p>
                <br>
                <p class="userRace"> {{ user.race }} </p>
                <p class="userFamily"> {{ user.family }} </p>
                <p class="userFeeding"> {{ user.feeding }} </p>
            </div>
            <button class="userAdd btn btn-context">Ajouter</button>
        </div>
    </form>
</div>