<h1 class="title-context">Amis</h1>

<div *ngIf="!emptyFriends"  class="container row justify-content-center mx-auto">
    <form #removeForm=ngForm *ngFor="let user of friendList" (ngSubmit)="removeFriend(user._id)" class="col-xl-2 col-sm-4 m-4 userlistHolder">
        <div class="userHolder m-4">
            <div class="userInfos">
                <p class="userTitle"> {{ user.name }} - {{ user.age }} ans </p>
                <br>
                <p class="userRace"> {{ user.race }} </p>
                <p class="userFamily"> {{ user.family }} </p>
                <p class="userFeeding"> {{ user.feeding }} </p>
            </div>
            <button class="userAdd btn btn-danger">Supprimer</button>
        </div>
    </form>
</div>
<p class="title-context" *ngIf="emptyFriends">
    Aucun ami
</p>

<h1 class="title-context">Demandes reçues</h1>

<div *ngIf="!emptyReceived"  class="container row justify-content-center mx-auto">
    <form #removeForm=ngForm *ngFor="let user of receivedList" (ngSubmit)="removeFriend(user._id)" class="col-xl-2 col-sm-4 m-4 userlistHolder">
        <div class="userHolder m-4">
            <div class="userInfos">
                <p class="userTitle"> {{ user.name }} - {{ user.age }} ans </p>
                <br>
                <p class="userRace"> {{ user.race }} </p>
                <p class="userFamily"> {{ user.family }} </p>
                <p class="userFeeding"> {{ user.feeding }} </p>
            </div>
            <button class="reqAdd btn btn-context">Ajouter</button>
            <button class="reqDel btn btn-danger">Refuser</button>
        </div>
    </form>
</div>
<p class="title-context" *ngIf="emptyReceived">
    Aucune demande reçue
</p>


<h1 class="title-context">Demandes envoyées</h1>

<div *ngIf="!emptySent"  class="container row justify-content-center mx-auto">
    <form #removeForm=ngForm *ngFor="let user of sentList" (ngSubmit)="removeFriend(user._id)" class="col-xl-2 col-sm-4 m-4 userlistHolder">
        <div class="userHolder m-4">
            <div class="userInfos">
                <p class="userTitle"> {{ user.name }} - {{ user.age }} ans </p>
                <br>
                <p class="userRace"> {{ user.race }} </p>
                <p class="userFamily"> {{ user.family }} </p>
                <p class="userFeeding"> {{ user.feeding }} </p>
            </div>
            <button class="userAdd btn btn-danger">Annuler</button>
        </div>
    </form>
</div>
<p class="title-context" *ngIf="emptySent">
    Aucune demande envoyée
</p>