.userHolder {
    background-color: white;
    border-radius: 5px;
    height: 140px;
    min-width: 170px;
    padding: 10px;
}

.userTitle{
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.userInfos{
    color: gray;
    line-height: 0.8;
}

.userAdd{
    text-align: center;
    padding-top: 7px;

    height: 35px;
    width: 70%;

    position: relative;
    left: 50%;

    border-radius: 12px;
}

.reqAdd{
    text-align: center;
    padding-top: 7px;

    height: 35px;
    width: 35%;

    position: relative;
    left: 50%;

    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.reqDel{
    text-align: center;
    padding-top: 7px;

    height: 35px;
    width: 35%;

    position: relative;
    left: 50%;

    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}