<div *ngFor="let user of user" class="jumbotron container" id="profilHolder">
    <h1 class="display-4">
        Bienvenue, {{ user.name }}
    </h1>
    <p class="lead">
        Profitez de cet espace pour 
        <span style="font-style: italic;">modifier vos informations </span>
        ou 
        <span style="font-style: italic;">vous déconnecter</span>
    </p>

    <div class="container d-flex justify-content-center">     
        <form #updateForm="ngForm" (ngSubmit)="updateUser(updateForm.value)" class="w-50 justify-content-center">
            <app-register-form></app-register-form>

            <div class="col-12 row justify-content-center mx-auto mt-2">
                <a class="btn btn-outline-secondary col-4 m-2" routerLink="/profil">Annuler</a>
                <button class="btn btn-context col-4 m-2">Valider</button>
            </div>
        </form>
    </div>

    <button class="btn btn-danger" (click)="logout()">
        Se déconnecter
    </button>
</div>