/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #121212; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input[type=number] {
    -moz-appearance:textfield;
}


.btn-context {
    background: linear-gradient(90deg, #80dfff, #33ccff) !important;
}

.title-context{
    color: white;
    text-align: center;
}

.label-context{
    color: black;
}

.tooltip-context{
    color: gray;
    font-size: 0.8em;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background: linear-gradient(90deg, #30c4fc, #66e0ff) !important;
    border: 0px;
}