/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #121212;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input[type=number] {
    -moz-appearance:textfield;
}


.btn-context {
    background: linear-gradient(90deg, #80dfff, #33ccff) !important;
}

.title-context{
    color: white;
    text-align: center;
}

.label-context{
    color: black;
}

.span-context{
    color: gray;
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background: linear-gradient(90deg, #30c4fc, #66e0ff) !important;
    border: 0px;
}




.userHolder {
    background-color: white;
    border-radius: 5px;
    height: 140px;
    min-width: 170px;
    padding: 10px;
}

.userTitle{
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.userInfos{
    color: gray;
    line-height: 0.8;
}

.userAdd{
    text-align: center;
    padding-top: 7px;

    height: 35px;
    width: 70%;

    position: relative;
    left: 50%;
    top: -10%;

    border-radius: 12px;
}

.reqAdd{
    text-align: center;
    padding-top: 7px;

    height: 35px;
    width: 50%;

    position: relative;
    left: 42%;
    top: -10%;

    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.reqDel{
    text-align: center;
    padding-top: 7px;

    height: 35px;
    width: 50%;

    position: relative;
    left: 42%;
    top: -10%;

    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
