/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #121212;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input[type=number] {
    -moz-appearance:textfield;
}

//------------------------------------------ <ctx> --------------------
.btn-context {
    background: linear-gradient(90deg, #80dfff, #33ccff) !important;
}

.btn-context:hover {
    background: linear-gradient(90deg, #7ad2f0, #31bbe9) !important;
}

.title-context{
    color: white;
    text-align: center;
}

.label-context{
    color: black;
}

.span-context{
    color: gray;
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background: linear-gradient(90deg, #30c4fc, #66e0ff) !important;
    border: 0px;
}

.form-floating input{
    background: #1a1a1a;
    border: gray;
    color: white
}

.form-floating:placeholder-shown input{
    background: gray;
}

.form-floating label{
    color: white
}

//------------------------------------------ </ctx> --------------------

//------------------------------------------ <general> --------------------

.navbar-brand{
    text-shadow: 1px 1px 15px #80dfff;
}

//------------------------------------------ </general> --------------------


//------------------------------------------ <cards> --------------------

.userHolder {
    background: white;
    box-shadow: 1px 1px 20px #43defa;
    border-radius: 5px;
    height: 140px;
    min-width: 170px;
    padding: 10px;
    transition: 0.5s;
}

.userHolder:hover {
    box-shadow: 1px 1px 50px #43defa;
}

// .userHolder:hover .userAdd, .userHolder:hover .reqDel, .userHolder:hover .reqAdd{
//     transform: scale(1);
//     left: 20%;
// }

.userTitle{
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.userInfos{
    color: gray;
    line-height: 0.8;
}

.userAdd{
    text-align: center;
    padding-top: 7px;

    height: 35px;
    width: 70%;

    position: relative;
    left: 50%;
    top: -10%;

    border-radius: 12px;
    transition: 0.15s;
}

.reqAdd, .reqDel{
    text-align: center;
    padding-top: 7px;

    height: 35px;
    width: 50%;

    position: relative;
    left: 42%;
    top: -20%;
    transition: 0.15s;
}

.reqAdd{

    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.reqDel{
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

//------------------------------------------ </cards> --------------------
