<div class="row d-flex justify-content-center"> 
    <div class="form-floating col-9 m-2">
        <input type="text" class="form-control" 
        required
        ngModel 
        name="uname" #uname="ngModel"
        placeholder="Votre pseudo">    
        <label for="registerUName">Pseudo</label>
        <label *ngIf="uname.errors && uname.touched" 
        style="color: red;" 
        for="registerUName">Pseudo</label>
    </div>

    <div class="form-floating col-6 mt-1 mb-2">
        <input type="text" class="form-control" 
        required
        ngModel 
        name="name" #name="ngModel"
        placeholder="Votre nom">    
        <label for="registerName">Nom</label>
        <label *ngIf="name.errors && name.touched" 
        style="color: red;" 
        for="registerName">Nom</label>
    </div>

    <div class="form-floating col-3 mt-1 mb-2">
        <input type="number" class="form-control" 
        required
        ngModel 
        name="age" #age="ngModel"
        placeholder="Age">
        <label for="registerAge">Age</label>
        <label *ngIf="age.errors && age.touched" 
        style="color: red;" 
        for="inputPwdConfirm">Age</label>
    </div>

    <div class="form-floating col-5 mt-1 mb-2">
        <input type="password" class="form-control" 
        required
        ngModel 
        name="pwd" #pwd="ngModel"
        placeholder="*******">    
        <label for="registerPwd">Mot de passe</label>
        <label *ngIf="pwd.errors && pwd.touched" 
        style="color: red;" 
        for="registerPwd">Mot de passe</label>
    </div>

    <div class="form-floating col-4 mt-1 mb-2">        
        <input type="password" class="form-control" 
        required 
        ngMatch="pwd" ngModel 
        name="pwdconfirm" #pwdconfirm="ngModel"
        placeholder="*******"> 
        <label for="inputPwdConfirm">Confirmation</label>
        <label *ngIf="pwdconfirm.errors && pwdconfirm.touched" 
        style="color: red;" 
        for="inputPwdConfirm">Confirmation</label>
    </div>


    <div class="col-12">
    </div>

    <div class="form-floating col-3 mt-1 mb-2">
        <input type="text" class="form-control" 
        required
        ngModel 
        name="family" #family="ngModel"
        placeholder="Famille">
        <label for="registerFamily">Famille</label>
        <label *ngIf="family.errors && family.touched" 
        style="color: red;" 
        for="registerFamily">Famille</label>
    </div>

    <div class="form-floating col-3 mt-1 mb-2">
        <input type="text" class="form-control" 
        required
        ngModel 
        name="race" #race="ngModel"
        placeholder="Race">
        <label for="registerRace">Race</label>
        <label *ngIf="race.errors && race.touched" 
        style="color: red;" 
        for="inputPwdConfirm">Race</label>
    </div>

    <div class="form-floating col-3 mt-1 mb-2">
        <input type="text" class="form-control" 
        required
        ngModel 
        name="feeding" #feeding="ngModel"
        placeholder="Alimentation">
        <label for="registerFeeding">Alimentation</label>
        <label *ngIf="feeding.errors && feeding.touched" 
        style="color: red;" 
        for="registerFeeding">Alimentation</label>
    </div>
</div>